:root{
--Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
--Blue : hsl(243, 100%, 93%);
--Grayish-Blue: hsl(229, 7%, 55%);
--Blue-850: hsl(228, 56%, 26%);
--Blue-950: hsl(229, 57%, 11%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    background:url(images/bg-desktop.png) no-repeat center center fixed;
    background-size: cover;

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 23rem;
    width: 100%;
    background-image: url(images/bg-mobile.png);
    padding: 5rem 1.5rem 5rem 1.5rem;
    position: relative;
    border: solid 1px var(--Blue-850);
    box-shadow: 0 0 10px var(--Blue-850);
    
}   
.cont1{
    background-color: var(--Blue-850);
    border-radius: .5rem 3rem .5rem .5rem;
    padding: 1.5rem;
    
}
.three{
    display: flex;
    object-fit: cover;
    display: block;
}
.image{
    background-color: var(--Blue-950);
    padding: .5rem;
    border-radius: .5rem;
    margin: 1rem 0 0 .4rem ;
}
.cont2{
    background-color: var(--Blue-850);
    border-radius: .5rem;
    padding: 1rem; 
    height: 100%;  
    
}
.cont2 p{
    color: var(--Grayish-Blue);
    
}
span{
    color: var(--Blue);
    font-size: 1rem;
    font-family:cursive;
    font-weight: bold;
}
.couleur{
    background: var(--Blue-950);
    height: 1rem;
    margin: 1rem 0 .3rem 0;
    border-radius: 1rem;
    position: relative;
}
.couleur::after{
    content: "";
    position: absolute;
     background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    height: 1rem;
    width: 80%;
    border-radius: 1rem;
}
.size{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.size p{
        color: white;
}
.flot{
    background-color: white;
    border-radius: .5rem;
    padding: 1.3rem;
    text-align: center;
    max-width: 10rem;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-20%);
}
.flot span{
    color: black;
    font-size: 1.3rem;
}
.flot p{
    color: var(--Blue);
    font-size: .8rem;
}
@media (min-width:768px) {
    .container{
        max-width: 60rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
    }
    .cont1{
        width: 20rem;
    }
    .cont2{
        width: 30rem;
    }
    .flot{
        position: absolute;
        left: 80%;
        top: 20%;

    }
}


